/* TODO: Universal */
/*Changes font style for the entire page*/
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* TODO: Element */
/*Changes the Color of the whole body*/
body {
  background-color: rgb(185, 185, 185);
}
/*Selector List
Sizes header, footer, and its text
Styles the color of the text and background in these sections*/
header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #383c36;
  background-color: #69d970;
}
/*Element
Changes size of the picture
Changes the background color*/
figure {
  width: 200px;
  background-color: #69d970;
}

/* TODO: Class selector
Changes style of copyright text */
.highlighted-text {
  font-weight: bolder;
}

/* TODO: id selectore
changes color of the background section,
overwrites first background color from body */
#contact-section {
  background-color: #f0ead6;
}

h2 {
  color:rgba(6, 52, 2, 0.41)
}